{% load static %}
    <link rel="stylesheet" href="{% static 'css/account_form.css' %}">

<div class="form-hero">
    <div class="form-card">
        <form method="post" class="form">
            {% csrf_token %}
            <h2 class="form-title">USUWASZ KONTO</h2>
            <p>Musisz podać swoje hasło w celu usunięcia konta.</p>
            <div class="form-row">
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>
            <p>Czy na pewno chcesz usunąć konto?</p>
            <button  type="submit" class="big-form-btn">Usuń</button>
            <a class="big-form-btn-link" href="{% url 'user_account' %}">Anuluj</a>
        </form>
    </div>
</div>