<!-- HTML -->
{% extends 'base.html' %}
{% block links %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/password_reset.css' %}">
{% endblock %}
{% block content %}
    <div class="reset-hero">
        <div class="reset-card">
            <div class="reset-form">
                <h2 class="reset-title">Sprawdź skrzynkę e‑mail</h2>
                <p class="reset-text">Jeśli adres istnieje w systemie, wysłaliśmy link do resetu hasła.</p>
            </div>
        </div>
    </div>
{% endblock %}aliśmy link do resetu hasła.</p>