<!-- HTML -->
{% extends 'base.html' %}
{% block links %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/password_reset.css' %}">
{% endblock %}
{% block content %}
    <div class="reset-hero">
        <div class="reset-card">
            <div class="reset-form">
                <h2 class="reset-title">Hasło zostało zmienione</h2>
                <p class="reset-text">Możesz teraz zalogować się nowym hasłem.</p>
                <a class="reset-btn" href="{% url 'login' %}">Przejdź do logowania</a>
            </div>
        </div>
    </div>
{% endblock %} %}">Przejdź do logowania</a>