{% extends 'base.html' %}
{% block links %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/account_form.css' %}">
    <link rel="stylesheet" href="{% static 'css/add_place.css' %}">
{% endblock %}

{% block content %}
    <div class="form-hero">
    <div class="two-columns">
        <div class="col">
            <div class="card">
                <h2 class="form-title">Dodaj miejsce parkingowe</h2>
                <form method="post" autocomplete="off">
                    {% csrf_token %}
                    <div class="form-row no-arrow-select">
                        {{ district_name.label_tag }} {{ district_name }}
                        {% for e in district_name.errors %}<div class="form-error">{{ e }}</div>{% endfor %}
                    </div>
                    <div class="form-row" >
                        {{ form.place_number.label_tag }} {{ form.place_number }}
                        {% for e in form.place_number.errors %}<div class="form-error">{{ e }}</div>{% endfor %}
                    </div>
                    <div class="form-row" >
                        {{ form.available_from.label_tag }} {{ form.available_from }}
                        {% for e in form.available_from.errors %}<div class="form-error">{{ e }}</div>{% endfor %}
                    </div>
                    <div class="form-row">
                        {{ form.available_until.label_tag }} {{ form.available_until }}
                        {% for e in form.available_until.errors %}<div class="form-error">{{ e }}</div>{% endfor %}
                    </div>
                    <div class="form-row">
                        {{ form.description.label_tag }} {{ form.description }}
                        {% for e in form.description.errors %}<div class="form-error">{{ e }}</div>{% endfor %}
                    </div>

                    <button type="submit" class="big-form-btn">Zapisz miejsce</button>
                </form>
            </div>
        </div>

        <aside class="aside">
            <div class="card">
                <h2 class="form-title">Dodaj nowe osiedle</h2>
                <form method="post" action="{% url 'add_new_district'%}" autocomplete="off">
                    {% csrf_token %}
                    <div class="form-row">
                        {{ district_name_form.district_name.label_tag }} {{ district_name_form.district_name }}
                        {% for e in district_name_form.district_name.errors %}<div class="form-error">{{ e }}</div>{% endfor %}
                    </div>
                    <button type="submit" class="big-form-btn">Dodaj</button>
                </form>
            </div>
        </aside>
    </div>
    </div>
{% endblock %}