
    <div class="form-hero">
        <div class="form-card">
            <h2 class="form-title center-title">Moje miejsca</h2>
            {% if places %}
                <div class="announcement-grid">
                    {% for p in places %}
                        <a href="{% url 'add_place' p.pk  %}" class="announcement-link">
                            <div class="announcement-tile">
                                <div class="announcement-tile-main">
                                    <div class="announcement-tile-title">
                                        {{ p.district_name }}
                                    </div>

                                </div>

                            </div>
                        </a>
                    {% endfor %}
                </div>
            {% else %}
                <div class="form-row">Brak miejsc do wyświetlenia.</div>
            {% endif %}

        </div>
         <aside class="aside">
             <div class="card">
                 <h2 class="form-title">Dodaj mnie do osiedla</h2>
                 <form method="post" action="{% url 'add_to_district' %}"  autocomplete="off">
                     {% csrf_token %}
                     <div class="form-row">
                          {{ district_form.district_name}}
                         {% for e in district_form.district_name.errors %}<div class="form-error">{{ e }}</div>{% endfor %}

                     </div>
                     <button type="submit" class="big-form-btn">Dodaj</button>
                 </form>
             </div>
         </aside>

         <aside class="aside">
             <div class="card">
                 <h2 class="form-title">Dodaj nowe osiedle</h2>
                 <form method="post" action="{% url 'add_new_district' %}" autocomplete="off">
                     {% csrf_token %}
                     <div class="form-row">
                          {{ add_district_name_form.district_name}}
                         {% for e in add_district_name.errors %}<div class="form-error">{{ e }}</div>{% endfor %}

                     </div>
                     <button type="submit" class="big-form-btn">Dodaj</button>
                 </form>
             </div>
         </aside>
    </div>
